.center {
    margin-bottom: 10%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.read {
    width: 250px;
    height: 57px;
    background: #A80315;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}