footer {
    .ico {
        height: 60px;
        margin: 20px;
    }
    margin-top: 150px;
    background-color: #A80315;
    display: grid;
    grid-template-columns: 10% repeat(10, minmax(10px, 1fr)) 10%;
    grid-template-rows: 0.5fr 3fr 2fr 1fr;
    .center_footer_text {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-row: 2/3;
        grid-column: 2/6;
    }
    #footer_text {
        color: white;
        font-size: 20px;
        font-weight: normal;
    }
    .center_social {
        display: grid;
        align-content: center;
        grid-column: 2/6;
        grid-row: 3/4;
    }
    .social {
        display: flex;
        justify-content: space-between;
    }
    .center_image {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-row: 2/4;
        grid-column: 8/12;
    }
    .block {
        display: flex;
    }
    #CEI_logo {
        margin-right: 20px;
        height: 140px;
    }
    #stop_logo {
        margin-left: 20px;
        height: 140px;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        display: block;
        margin-top: 80px;
        .ico {
            height: 40px;
        }
        .center_image {
            justify-content: center;
        }
        footer .social {
            justify-content: center;
        }
        #CEI_logo {
            margin-right: 20px;
            height: 40px;
        }
        #stop_logo {
            margin-left: 20px;
            height: 40px;
        }
        #footer_text {
            text-align: center;
            font-size: 10px;
        }
    }
}

@media only screen and (max-width: 900px) {
    footer {
        display: block;
        margin-top: 80px;
    }
    footer .ico {
        height: 40px;
    }
    footer .social {
        justify-content: center;
    }
    footer .center_image {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #CEI_logo {
        margin-right: 20px;
        height: 40px;
    }
    #stop_logo {
        margin-left: 20px;
        height: 40px;
    }
    footer #footer_text {
        text-align: center;
        font-size: 10px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
    footer #CEI_logo {
        height: 140px;
    }
}