@import "nav";
@import "results";
@import "results_text";
@import "footer";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    a {
        text-decoration: none;
        color: black;
    }
    font-family: 'Montserrat',
    sans-serif;
}