.card {
    align-content: space-between;
    img {
        width: 380px;
        height: 310px;
        border-radius: 20px 20px 0px 0px;
    }
    .title {
        height: 134px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title_text {
        text-align: center;
        font-size: 24px;
    }
    .article {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .article_text {
        text-align: center;
        font-size: 20px;
        font-weight: normal;
        margin: 0px 20px 0px 20px;
    }
    width: 380px;
    height: 652px;
    background-color: #E2E2E2;
    border-radius: 20px;
    margin: 8px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
}

.card {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    width: 500px;
    height: 852px;
    background-color: #E2E2E2;
    border-radius: 20px;
    margin: 20px;
}

.card img {
    width: 500px;
    height: 410px;
    border-radius: 20px 20px 0px 0px;
}

.card .title {
    height: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card .title_text {
    text-align: center;
    font-size: 24px;
}

.card .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}

.card .article_text {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 0px 20px 0px 20px;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 520px) {
    .cards {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .card {
        width: 300px;
        height: 390px;
        background-color: #E2E2E2;
        border-radius: 20px;
        margin: 40px 0px 40px 0px;
    }
    .card img {
        width: 300px;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }
    .card .title {
        height: 90px;
    }
    .card .title_text {
        text-align: center;
        font-size: 14px;
    }
    .card .article_text {
        font-size: 10px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 900px) and (min-width: 520px) {
    .cards {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .card {
        width: 260px;
        height: 350px;
        background-color: #E2E2E2;
        border-radius: 20px;
        margin: 0px 40px 40px 40px;
    }
    .card img {
        width: 260px;
        height: 150px;
        border-radius: 20px 20px 0px 0px;
    }
    .card .title {
        height: 90px;
    }
    .card .title_text {
        text-align: center;
        font-size: 14px;
    }
    .card .article_text {
        font-size: 10px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
    .cards {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .card {
        width: 300px;
        height: 390px;
        background-color: #E2E2E2;
        border-radius: 20px;
        margin: 0px 40px 40px 40px;
    }
    .card img {
        width: 300px;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }
    .card .title {
        height: 90px;
    }
    .card .title_text {
        text-align: center;
        font-size: 14px;
    }
    .card .article_text {
        font-size: 10px;
        font-weight: 600;
    }
}